.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.services-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.services-title h1 {
  position: relative;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  padding: 20px 40px;
  margin: 0;
  color: #ffffff;
  display: inline-block;
  border-radius: 10px;
  z-index: -1; /* Ensure h1 is above the image */
}

.services-title img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: -1;
}

  .services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;

  }
 .services-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 80px;
 } 
 .services-format h3{
  font-size: 28px;
  font-weight: 600;
 }
.services-format h2{
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(267deg, #0ae0bd 0.36%, #2356e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}
.services-format p{
  color: #d4d4d4;
  font-size: 24px;
  line-height: 40px;
  max-width: 300px;
}
.services-readmore{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;

  
}
.services-format:hover{
  border: 2px solid #0ae0bd;
  background-image: linear-gradient(267deg, #0ae0bd 0.36%, #2356e1 102.06%);
  transform: scale(1.05);
  transition: 0.4s;
}